
 *{ 
    padding: 0;
    letter-spacing: 0.1em;
    font-family: 'Jolly Lodger', cursive;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: chartreuse;
}

.logoDiv{
    margin: 0 auto 20px;
    width: 900px;
    height: 600px;
}

.shortDesc {
    position: absolute;
    left: 50%;
    color: rgb(6, 237, 245);
    padding: 20px;
    width: 600px;
    margin: 50px auto;
    box-shadow: 0 -0 10px 3px chartreuse;
    border-radius: 20px;
    transform: translateX(-50%);
    font-size: 20px;
}

button {
    padding:5px;
}


button#character {
    font-size: 24px;
    letter-spacing: 0.1em;
    color: chartreuse;
    background-color: rgba(255, 58, 58, 0.26);
    width: 120px;
    height: 50px;
    margin-right: 20px;
    border: none;
    transition: 0.2s all;

}

button#character:hover {
    transition: 0.2s all;
    box-shadow: 0 -0 5px 1px chartreuse;;
}

.btnDiv {
    width: 260px;
    height: 30px;
    margin: 40px auto;
}

button#location, div.contentCard > button {
    font-size: 24px;
    letter-spacing: 0.1em;
    color: chartreuse;
    background-color: rgba(255, 58, 58, 0.26);
    width: 120px;
    height: 50px;
    margin: 0 auto;
    border: none;
    transition: 0.2s all;

}

button#location:hover, div.contentCard > button:hover {
    transition: 0.2s all;
    box-shadow: 0 -0 5px 1px chartreuse;
}

img.charImage {
    width: 160px;
    padding-top: 15px;
    grid-row: 1/2;
    margin: auto;
}


div.contentContainer {
    position: fixed;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    /* opacity: 99%; */
    
}

/* Zsolt */
div.contentCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 18pt;
    text-align: center;
    background-color: black;
    box-shadow: 0 -0 10px 3px chartreuse;
    
}

div.contentCard > p {
    font-size: 20px;
}

div.contentCard > hr {
    width: 80px;
    /* border: 6px solid rgb(6, 237, 245); */
    border: 3px solid chartreuse;
    /* opacity: .25; */
}

/* Peti */

.smallCardContainer {
    background-color: rgba(255, 58, 58, 0.116);
    height: 300px;
    width: 200px;
    margin: 0 auto;
    align-items: center;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1;
    grid-template-rows: 180px 60px 60px;
    /*flex-direction: column;
    justify-content: space-evenly;*/
    text-align: center; 
    box-shadow: 0 -0 10px 3px chartreuse;
    /* cursor: pointer; */
}

.smallCardContainer:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.characterListDiv {
    width: 950px;
    height: 1700px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
}

h3 {
    color: rgb(6, 237, 245);
    font-size:25px;
        
}

.smallSpecies {
    color: rgb(6, 237, 245);
    font-size: 20px;
}

.smallCardContainerLoc{
    background-color: rgba(128, 255, 0, 0.096);
    height: 300px;
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 -0 10px 3px chartreuse;
    
}

.smallCardContainerLoc:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.locationListDiv {
    width: 950px;
    height: 1700px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    gap: 50px;
}

.paginationBtn{
    background-color: rgba(255, 58, 58, 0.26);
    color: rgb(6, 237, 245);
    font-size: 16px;
    width: 40px;
    height: 40px;
    border: none;
    margin: 0 10px 0;
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 0 -0 10px 3px chartreuse;
}
.paginationBtn:disabled {
    background-color: black;
}
.paginationBtn:disabled:hover {
    background-color: black;
}
.paginationBtn:hover {
    background-color: rgba(247, 108, 108, 0.377);
}

.pagBtnDiv {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.container {
    height: 40vh;
}

@media screen and (max-width: 800px) {
    .locationListDiv {
        width: 700px;
        height: 2400px;
        margin-left: auto;
        margin-right: auto;
    }
}